
<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf8">
    <base href="/">
    <title>
      Angular Socket.io Seed App
    </title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
{{{body}}}
    </div>
  </body>
</html>