<div class="navbar navbar-inverse  header-section">
  <div class="navbar-inner">
    <a class="brand">
      RASPBERRY PI
    </a>
    <div class="navbar-form pull-right">
      <a class="brand about">
        Nat
      </a>
    </div>
  </div>
  <div ng-controller="AppCtrl">
    <div ng-view>
    </div>
  </div>
  <script src="js/lib/angular/angular.js">
  </script>
  <script src="/socket.io/socket.io.js">
  </script>
  <script src="js/app.js">
  </script>
  <script src="js/services.js">
  </script>
  <script src="js/controllers.js">
  </script>
  <script src="js/filters.js">
  </script>
  <script src="js/directives.js">
  </script>